*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pem
*.pickle
*.json
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sql
*.pem
*.conf
.cloud
core.config_entries
deps
custom_components
dome
openzwave
__pycache__
tts
www
keys
sqlite3-to-mysql
home-assistant.log
home-assistant_v2.db
secrets
secrets.yaml
known_devices.yaml
pyozw.sqlite
.uuid
ipchange.yaml
entity_registry.yaml
nohup.out
production_auth.json
sensor_2.yaml
zone.yaml
zones.yaml
.spotify-token-cache

