*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pem
*.pickle
*.json
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sql
*.pem
*.conf
*.sql
*.txt
*.7z
.cloud
.automatic
.git
.storage
.withings
.fuse*
*.backup
update.sh
core.config_entries
not.withings
nppBackup
deps
dome
openzwave
__pycache__
tts
www
keys
sqlite3-to-mysql
home-assistant.log
home-assistant_v2.db
secrets
secrets.yaml
known_devices.yaml
pyozw.sqlite
.uuid
ipchange.yaml
entity_registry.yaml
nohup.out
production_auth.json
sensor_2.yaml
zone.yaml
zones.yaml
nppBackup
panels
.spotify-token-cache
automations.yaml

